PORT=3000

# Database
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=nest_boilerplate

# Auth
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=3600s
JWT_REFRESH_SECRET=super-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=7d
